.header {
  padding: 36px 15px 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;

  .container_header {
    border-bottom: 1px solid $grey;
  }

  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;

    .logo {
      font-size: $_36px;
      font-weight: 900;
      text-transform: uppercase;

      span {
        color: #656980;

        &::after {
          content: 'BOX';
          display: inline-block;
          font-weight: 100;
          color: gray;
        }
      }
    }
    .navigation {
      display: flex;

      .nav_button {
        display: none;
        width: 50px;
        height: 3px;
        color: $white;
        box-shadow: none;
        border: 0;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          display: block;
          top: 15px;
          left: 0;
          width: 50px;
          height: 3px;
          background-color: $white;
        }

        &::before {
          content: '';
          width: 50px;
          height: 3px;
          display: block;
          position: absolute;
          top: -15px;
          left: 0;
          background-color: $white;
        }
      }

      .navigation_list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        text-transform: uppercase;
        color: #f5f3f3;
        font-size: $_13px;
        font-weight: bold;
      }
      .navigation-item {
        margin-right: 60px;
        position: relative;
        cursor: pointer;
        transition: opacity 0.2s linear;

        a {
          color: $white;
        }

        &::after {
          position: absolute;
          content: '';
          top: 62px;
          left: 0;
          display: block;
          width: 100%;
          height: 3px;
          background-color: $white;
          opacity: 0;
          z-index: 2;
        }

        &:hover {
          &::after {
            opacity: 1;
          }
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}

.fixed {
  position: fixed;
  background-color: $deep_blue;
  padding: 15px 15px 0;

  .header_content {
    margin-bottom: 15px;
    .navigation {
      .navigation-item {
        &::after {
          top: 42px;
        }
      }
    }
  }
}
