// Font-Size

$_13px: 0.72rem;
$_18px: 1rem;
$_24px: 1.3rem;
$_30px: 1.6rem;
$_36px: 2rem;
$_64px: 3.5rem;

//  Colors

$white: rgb(255, 255, 255);
$black: rgb(14, 13, 13);
$red: rgb(255, 67, 67);
$deep_red: rgb(231, 20, 20);
$deep_blue: rgb(44, 49, 84);
$blue: rgb(53, 60, 101);
$grey: rgb(108, 114, 121);
$purple: rgb(92, 50, 73);
